source/*/obj
source/*/bin
*.chm
_[Rr]e[Ss]harper.*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.[Rr]e[Ss]harper
*.suo
*.cache
*.csproj[1-9]*
*~
*.sql
*.swp
*.swo
/source/docs/Help/*.*
artifacts
UpgradeLog.XML
_UpgradeReport_Files
git.yaml
